<!-- Anchor slider -->
<div class="mellomting hidden">
  <div class="projectList hidden">
    <div class="row">
      <ul class="large-12 medium-12 small-12 columns">
        {% for entry in craft.entries.section('projects').limit(4) %}
          <li class="projectList__link">
            <h2 class="flat">
              <a class="transition" href="{{entry.url}}">{{entry.Title}}</a>
            </h2>
          </li>
        {% endfor %}
        <li class="left projectList__link--last">
          <h2 class="left">
            <a href="#work">More work</a>
          </h2>
          <span class="left">
            <h2>&nbsp/&nbsp</h2>
          </span>
          <h2 class="left">
            <a class="open-about">Profile</a>
          </h2>
        </li>
      </ul>
    </div>
  </div>

  <div class="inner hidden">
    <div class="owl-carousel owl-theme">
      {% for entry in craft.entries.section('projects') %}
        {% set projectThumb = entry.projectThumb.first() %}
        {% if projectThumb %}
          <div class="item" data-image="{{projectThumb.url}}" style="background-image: url('{{projectThumb.url}}');">
            <!-- <div class="item" data-image="{{projectThumb.url}}">
					<img src="{{projectThumb.url}}"/> -->
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!-- Ten Col Left -->
<div style="background-color: #{{ entry.hexCode }};">
  <article class="row">

    <div class="columns">

      <div class="large-6 medium-6 small-12 left case-info reveal">
        <div class="columns">
          <a class="transition left" href="{{entry.url}}">
            <h1 class="entry-title bold left">{{entry.Title}}</h1>
          </a>
          }
          <h2 class="left entry-intro hide-for-small-only">{{entry.intro}}</h2>
        </div>

      </div>

      {% if entry.imgPaddingTop %}

        <!-- Image -->
        <div class="large-10 medium-10 small-12 left">
          <div class="box">
            {% set desktopThumb = entry.desktopThumb.first() %}
            {% if desktopThumb %}
              <img src="{{ desktopThumb.url }}"/>
            {% endif %}
          </div>
        </div>

      {% elseif entry.imgPaddingBoth %}

        <!-- Image -->
        <div class="large-10 medium-10 small-12 left padding">
          <div class="box">
            {% set desktopThumb = entry.desktopThumb.first() %}
            {% if desktopThumb %}
              <img src="{{ desktopThumb.url }}"/>
            {% endif %}
          </div>
        </div>

      {% else %}

        <!-- Image -->
        <div class="large-10 medium-10 small-12 left">
          <div class="box">
            {% set desktopThumb = entry.desktopThumb.first() %}
            {% if desktopThumb %}
              <img src="{{ desktopThumb.url }}"/>
            {% endif %}
          </div>
        </div>

      {% endif %}

    </div>
  </a>
</article>
</div>

<!-- <p class="left share flat">Share
	<span class="right">
		<a href="#" class="light underline" onClick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ entry.getUrl() }}','share','resizable,height=360,width=470'); return false;">Facebook</a>
		<a href="#" class="light underline" onClick="window.open('https://twitter.com/home?status={% if entry.Title %}{{ entry.Title|url_encode }}{% else %}{{ entry.title|url_encode }}{% endif %}%20{{ entry.getUrl() }}','share','resizable,height=360,width=470'); return false;">Tweet this</a>
		<a class="light underline" href="mailto:?Subject=Netflix Media Center: {{ entry.title }}&Body={% if entry.title %}{{ entry.title }}{% endif %}%20{{ entry.getUrl() }}">Share via email</a>
	</span>
</p> -->

<!-- Align Image Right -->
<div style="background-color: #{{ entry.hexCode }};">
<article class="row">

  <div class="columns f-case">

    <div class="large-6 medium-6 small-12 left case-info reveal">
      <div class="columns">
        <a class="transition left" href="{{entry.url}}">
          < <h1 class="entry-title bold left">{{entry.Title}}</h1>
        </a>

        {% set categories = entry.category %}
        {% if categories | length %}

          <ul class="inline">
            {% for category in categories %}
              <li>
                <p class="small caps pink">{{category.title}}</p>
              </li>
            {% endfor %}
          </ul>

        {% endif %}
        <h2 class="left entry-intro hide-for-small-only">{{entry.intro}}</h2>
      </div>

    </div>

    {% if entry.imgPaddingTop %}

      <!-- Image -->
      <div class="large-6 medium-6 small-12 right case-image">
        <div class="box">
          {% set desktopThumb = entry.desktopThumb.first() %}
          {% if desktopThumb %}
            <img src="{{ desktopThumb.url }}"/>
          {% endif %}
        </div>
      </div>

    {% elseif entry.imgPaddingBoth %}

      <!-- Image -->
      <div class="large-6 medium-6 small-12 right case-image padding">
        <div class="box">
          {% set desktopThumb = entry.desktopThumb.first() %}
          {% if desktopThumb %}
            <img src="{{ desktopThumb.url }}"/>
          {% endif %}
        </div>
      </div>

    {% else %}

      <!-- Image -->
      <div class="large-6 medium-6 small-12 right">
        <div class="box">
          {% set desktopThumb = entry.desktopThumb.first() %}
          {% if desktopThumb %}
            <img src="{{ desktopThumb.url }}"/>
          {% endif %}
        </div>
      </div>

    {% endif %}

  </div>
</a>
</article>
</div>
